
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All course</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Course</h2>
            <span class="text-light">Use the below form to Update an course</span>
        </div>
        <div class="form-popup text-center col" id="myForm" >
          <form method="POST" id="update_course" action="/update">
            <h1>Enter Detail From Update Course...!</h1>
      
                <label for="id" class="form-label" hidden>ID</label>
                    <input type="text" name="id" class="" id="courseId" value="<%= course.id %>" hidden>
      
                <label for="name"><b>CourseName</b></label><br>
                    <input type="text" placeholder="Enter Course Name" name="name" value="<%= course.name %>" id="courseName" required><br>
      
                <label for="duration"><b>Duration</b></label><br>
                    <input type="text" placeholder="enter days only" pattern="[0-9]*" name="duration" value="<%= course.duration %>" id="duration" required><br>
      
                <label for="fees"><b>Fees</b></label><br>
                    <input type="text" placeholder="Amount In Numbers only" pattern="[0-9]*" name="fees" value="<%= course.fees %>" id="fees" required><br>
                    
                    <input type="submit"  class="btn btn-primary" value="Submit">
          </form>
        </div>
      

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->